<table>
	<tr> 
		<td width="300px">
			<div class="yag-elementLabel">
				<label for="name"><f:translate key="tx_yag_domain_model_album.name" /></label>
			</div>
			<div>
				<f:form.textbox property="name" size="43"/><br />
			</div>
			
			<div class="yag-elementLabel">
				<label for="galleries"><f:translate key="tx_yag_domain_model_gallery" /></label>
			</div>
			<div>
				<f:form.select property="gallery" options="{selectableGalleries}" optionValueField="uid" optionLabelField="name" value="{selectedGallery}" /><br />
			</div>
			
			<div class="yag-elementLabel">
				<label for="description"><f:translate key="tx_yag_domain_model_album.description" /></label>
			</div>
			<div>
				<f:form.textarea property="description" cols="40" rows="15" />
			</div>
		</td>
		<td>
			<div class="yag-elementLabel">
				<label for="category"><f:translate key="tx_yag_domain_model_album.category" /></label>
			</div>
			<div>
				<f:render partial="Category/Selector" />
				<f:form.hidden property="category" id="selectedCategory"/>
			</div>
		</td>
	</tr>
</table>


	
<!-- 
<label for="date">
	<f:translate key="tx_yag_domain_model_album.date" />
</label><br />
	<f:form.textbox property="date"  value="{album.date->f:format.date()}"  /><br />
 -->