{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering the category manager

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">
	<script type="text/javascript">
	
	//Ext.BLANK_IMAGE_URL = '<?php echo $html->url('/js/ext-2.0.1/resources/images/default/s.gif') ?>';
	
	Ext.onReady(function(){
	    
	    var getnodesUrl = '../test.php';
	    //var reorderUrl = '<?php echo $html->url('/employees/reorder/') ?>';
	    //var reparentUrl = '<?php echo $html->url('/employees/reparent/') ?>';
	    
	    var Tree = Ext.tree;
	    
	    var tree = new Tree.TreePanel({
	        el:'tree-div',
	        autoScroll:true,
	        animate:true,
	        enableDD:true,
	        containerScroll: true,
	        rootVisible: true,
	        loader: new Ext.tree.TreeLoader({
	            dataUrl:getnodesUrl
	        })
	    });
	    
	    var root = new Tree.AsyncTreeNode({
	        text:'Employees',
	        draggable:false,
	        id:'root'
	    });
	    tree.setRootNode(root);
	    
	    tree.render();
	    root.expand();
	
	});
	
	</script>
	
	<div id="tree-div" style="height:400px;"></div>
	
</f:section>

<f:section name="beButtonsLeft">
</f:section>