{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering the category manager

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">
	<script type="text/javascript">
	
	//Ext.BLANK_IMAGE_URL = '<?php echo $html->url('/js/ext-2.0.1/resources/images/default/s.gif') ?>';
	
	Ext.onReady(function(){
		
	        
	    var baseRequest = {extensionName:'yag',pluginName:'pi1',controllerName:'Category'};

	    Ext.getUrlParam = function(param) {
    	   var params = Ext.urlDecode(location.search.substring(1));
    	   return param ? params[param] : params;
    	};
	    
		function buildRequest(action, arguments) {
			var actionRequest = baseRequest;
			actionRequest.actionName = action;

			if(arguments) {
				actionRequest.arguments = arguments;
			}

			return actionRequest;
		}
	    
	    var Tree = Ext.tree;

		var Tree_Category_Loader = new Tree.TreeLoader({
	        dataUrl:"ajax.php",
	        baseParams: {
	        	id: Ext.getUrlParam('id'),
	        	ajaxID: 'yagAjaxDispatcher',
				request: Ext.encode(buildRequest('getSubTree')),
	        }
	    });

		var win;
	    var button = Ext.get('show-btn');


	    
		var yagCategoryTree = new Tree.TreePanel({
		    el:'categoryTreeDiv',
		    autoScroll:true,
		    animate:true,
		    enableDD:true,
		    containerScroll: true,
		    rootVisible: true,
		    loader: Tree_Category_Loader,
		    tbar : [{
			    	xtype : 'button' , text : 'Delete Category', 
					handler : function(){ 
				    	var selectedItem = yagCategoryTree.getSelectionModel().getSelectedNode();
						
						if(selectedItem){
							selectedItem.remove();
						}
			    	}
		    	}, {
				    xtype : 'button' , text : 'Add new Category', 
					handler : function(){ 
						var selectedItem = yagCategoryTree.getSelectionModel().getSelectedNode();
			
						if(!selectedItem){
							selectedItem = yagCategoryTree.getRootNode();
						}
			
						handleCreate = function(text, description){
							if(text){
								var newNode = new Ext.tree.TreeNode ({
									id : 'new',
									text : text,
									description: description
								});
								
								if(selectedItem.isLeaf()) {
									selectedItem.parentNode.insertBefore(newNode, selectedItem.nextSibling);
								} else {
									selectedItem.insertBefore(newNode, selectedItem.firstChild);
									selectedItem.expand();
								}

								Ext.Ajax.request({
							        url:'ajax.php',
							        params: {
										id: Ext.getUrlParam('id'),
										ajaxID: 'yagAjaxDispatcher',
							        	request: Ext.encode(
									        	buildRequest('addNode',{
									        		parentNodeId: selectedItem.id,
										        	nodeTitle: text,
										        	nodeDescription: description
										        }))
									},
							        success:function(response, request) {
								        alert(response.responseText);
							        },
							        failure:function() {
							            alert("Error while saving the new node.");
							            newNode.delete();
							        }
							    
							    });
							}
						}
						
					    var form = new Ext.form.FormPanel({
					        baseCls: 'x-plain',
					        labelWidth: 55,
					        url: 'save-form.php',
					        layout: {
					            type: 'vbox',
					            align: 'stretch'  // Child items are stretched to full width
					        },
					        defaults: {
					            xtype: 'textfield'
					        },
	
					        items: [{
					        	xtype: 'textfield',
					        	fieldLabel: 'Name',
					            fieldLabel: 'Subject',
					            name: 'name'
					        }, {
					            xtype: 'textarea',
					            fieldLabel: 'Description',
					            hideLabel: true,
					            name: 'description',
					            flex: 1  // Take up all *remaining* vertical space
					        }]
					    });
						
						
						if(!win){
				            win = new Ext.Window({
				                title: 'Add new Category',
				                collapsible: true,
				                maximizable: true,
				                width: 300,
				                height: 200,
				                minWidth: 300,
				                minHeight: 200,
				                layout: 'fit',
				                plain: true,
				                bodyStyle: 'padding:5px;',
				                buttonAlign: 'center',
				                items: form,
				                buttons: [{
				                    text: 'Save',
				                    handler: function(){
				                    	handleCreate(form.getForm().findField('name').getValue(), form.getForm().findField('description').getValue());
		                        		win.hide();
		                    		}
				                },{
				                    text: 'Cancel',
				                    handler: function(){
			                        	win.hide();
			                    	}
				                }]
				            });
				        }
				        win.show(this);
						
				}
			}],
	});
	    
	    var root = new Tree.AsyncTreeNode({
	        text:'Categories',
	        draggable:false,
	        id:1
	    });
	    yagCategoryTree.setRootNode(root);
	    
	    yagCategoryTree.render();
	    root.expand();
	
	});
	
	</script>
	
	<div id="categoryTreeDiv" style="height:200px; width:200px;"></div>

	<div id="categoryEditDiv" class="x-hidden">
		<div class="x-window-header">Category</div>
			<div id="hello-tabs"><!-- Auto create tab 1 -->
			<div class="x-tab" title="Category edit">
				<p><f:form.textField name="name" /> <f:form.textArea name="description" rows="3" cols="10" /></p>
			</div>
		</div>
	</div>
</f:section>

<f:section name="beButtonsLeft">
</f:section>