{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering the category manager

Here is a list of objects / variables that can be accessed in this template:


@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="main">
	<script src="../typo3temp/compressor/Ext.ux.state.TreePanel-e320d698880ec0c6e427b7c382a59af4.js?1302732193" type="text/javascript"></script>

	<script type="text/javascript">


		//Ext.app.YAG_CategoryAPI = {"url":"http:\/\/t3develop.harper\/typo3\/ajax.php?ajaxID=ExtDirect::route&namespace=YAG","type":"remoting","actions":{"TestAction":[{"name":"doEcho","len":1,"formHandler":false},{"name":"multiply","len":1,"formHandler":false},{"name":"getSubTree","len":1,"formHandler":false}],"Profile":[{"name":"getBasicInfo","len":2},{"name":"getPhoneInfo","len":1},{"name":"getLocationInfo","len":1},{"name":"updateBasicInfo","len":2,"formHandler":true}]}};
		
		Ext.onReady(function(){
		    //Ext.Direct.addProvider(Ext.app.ExtDirectAPI);

		    var tree = new Ext.tree.TreePanel({
		        width: 400,
		        height: 400,
		        autoScroll: true,
		        renderTo: document.body,
		        root: {
		            id: 'root',
		            text: 'Root'
		        },
		        loader: new Ext.tree.TreeLoader({
		            directFn: TYPO3.YAG.ExtDirect.getSubTree
		        }),
		        fbar: [{
		            text: 'Reload root',
		            handler: function(){
		                tree.getRootNode().reload();
		            }
		        }]
		    });

		    tree.render('categoryTree');
		    tree.getRootNode().expand();
		    
		});
	 
	</script>
	
	<div id="categoryTree" style="overflow:auto; height:300px;width:250px;border:1px solid #c3daf9;">
	</div>
	
</f:section>

<f:section name="beButtonsLeft">
</f:section>